@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        overflow:overlay
    }
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(252, 252, 252, 0.4);
        border-radius: 99999px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@layer components {
    .vertical {
        writing-mode: vertical-rl;
        text-orientation: sideways;
    }
}